* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background: #fff;
}

.square {
    background: #f8dd7394;
    border: 1px solid #999;
    float: left;
    backdrop-filter: blur(10px);
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-wrap{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.game-board{
    flex: 1;
}

.game-info {
    font-size: 12px;
    min-width: 230px;
}

.game-info button {
    background: #dddfe6;
    outline: none;
    border-radius: 5px;
    color: #151414;
    margin: 5px 0;
    padding: 5px 10px;
    font-weight: bold;
    border: 2px solid;
}

.record-list {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.highlight {
    color: white;
    background: #f06966;
    z-index: 9;
    position: relative;
    border: none;
    animation: ani-highlight .5s 2 forwards;
}

@keyframes ani-highlight {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.2);
    }
}

.game-setting {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background: #F8F9FC
}

.open-ai-btn{
    margin: 0 20px;
}

.chess-piece-tip {
    font-size: 12px;
}

.ai-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: #0000006e;
}
